In [1]:
import os
import json
import pandas as pd

students = (
  'alecsander.camilo',
  'amarildo.melo',
  'calixto.paulo',
  'diedjon.souza',
  'eduardo.porto',
  'flavio.souza',
  'italo.alves',
  'jefferson.marcelo',
  'joao.neto',
  'lima.anderson',
  'lucas.chagas',
  'luciano.filho',
  'manuel.lucena',
  'micael.pinheiro',
  'pedro.diniz',
  'renata.albuquerque',
  'sousa.felipe',
  'viana.pedro',
  'willma.tayanne'
)

categories = ('ecma', 'w3c')
status = {}

for student in students:
  status[student] = {}
  for category in categories:
      problems = os.listdir(category)
      problems.remove('.DS_Store')
      for problem in problems:
        path = f'{category}/{problem}/{student}'
        status[student][problem] = os.path.isdir(path)

df = pd.DataFrame(status)

In [2]:
df[df==True].count(axis=0).sort_values(ascending=False)

willma.tayanne        17
micael.pinheiro       15
alecsander.camilo     15
renata.albuquerque    13
calixto.paulo         13
manuel.lucena         10
lucas.chagas          10
eduardo.porto         10
luciano.filho          9
lima.anderson          9
pedro.diniz            7
jefferson.marcelo      7
amarildo.melo          7
italo.alves            4
flavio.souza           3
diedjon.souza          3
viana.pedro            1
joao.neto              1
sousa.felipe           0
dtype: int64

In [3]:
df[df==True].count(axis=1).sort_values(ascending=True)

bmi-simple                      0
array-products-qtd              1
triangle-checker                1
products-qtd                    1
sum-all-numbers-in-array        1
array-products                  1
products                        1
fibonacci-sequence              1
function-prime-nth              2
function-fibonacci-sequence     2
function-triangle-checker       3
function-prime                  3
array-operations                3
function-fibonacci-number       5
function-factorial              9
array-util                      9
function-calc                  10
function-area-of-circle        13
basic-harmonic-series          13
function-sum                   14
basic-bmi                      14
basic-irrf                     14
basic-numbers-series           15
basic-hello                    18
dtype: int64

In [25]:
print(df[df==True].count().sum())

130