In [3]:
import os
import json
import pandas as pd

students = (
  'alecsander.camilo',
  'amarildo.melo',
  'ana.caldas',
  'lima.anderson',
  'diedjon.souza',
  'sousa.felipe',
  'flavio.souza',
  'italo.alves',
  'jefferson.marcelo',
  'lucas.chagas',
  'luciano.filho',
  'manuel.lucena',
  'micael.pinheiro',
  'calixto.paulo',
  'viana.pedro',
  'pedro.diniz',
  'renata.albuquerque',
  'willma.tayanne'
)

categories = ('ecma', 'w3c')
status = {}

for student in students:
  status[student] = {}
  for category in categories:
      problems = os.listdir(category)
      problems.remove('.DS_Store')
      for problem in problems:
        path = f'{category}/{problem}/{student}'
        status[student][problem] = os.path.isdir(path)

df = pd.DataFrame(status)

In [4]:
df[df==True].count(axis=0).sort_values(ascending=False)

alecsander.camilo     12
micael.pinheiro       10
calixto.paulo         10
renata.albuquerque     9
luciano.filho          9
willma.tayanne         9
lima.anderson          8
lucas.chagas           7
amarildo.melo          7
italo.alves            5
pedro.diniz            4
flavio.souza           3
viana.pedro            1
diedjon.souza          1
jefferson.marcelo      1
manuel.lucena          0
sousa.felipe           0
ana.caldas             0
dtype: int64

In [6]:
df[df==True].count(axis=1).sort_values(ascending=True)

bmi-simple                      0
function-fibonacci-sequence     1
function-fatorial               1
function-triangle-checker       1
array-util                      1
function-fibonacci-number       3
basic-numbers                   3
function-factorial              5
function-calc                   7
function-area-of-circle         8
function-sum                    9
basic-numbers-series            9
basic-harmonic-series          10
basic-irrf                     11
basic-bmi                      12
basic-hello                    15
dtype: int64

In [7]:
print(df[df==True].count().sum())

96